.carrito{
    display: flex;
    flex-direction: column;

    .carritoVacio{
        margin: 10vw;
        font-size: xx-large;
        font-weight: bolder;
        display: flex;
        flex-direction: column;
        align-items: center;

        button{
            margin: 10vw;
            font-size: xx-large;
            font-weight: bolder;
        }
    }


    .carrito_item{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: xx-large;
        > *{
            margin-inline: 3vw;
            margin-bottom: 2vw;
        }
        img{
            width: 10vw;
        }

        .carrito_cod{
            width: 12vw;
        }

        .carrito_titulo{
            width: 56vw;
        }

        .carrito_precio{
            width: 12vw;
        }

        .carrito_cant{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 20vw;
            button{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-inline: 10px;
                font-size: xx-large;
                height: 30px;
                width: 30px;
                justify-content: center;
            }
        }
    }
    .resumenCarrito{
        display: flex;
        flex-direction: column;
        font-size: xx-large;
        font-weight: bolder;
        margin: 2vw;
        span{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            .borrarCarrito{
                display: flex;
                font-size: xx-large;
                font-weight: bolder;
            }
            .totalCarrito{
                display: flex;
            }

        }
        .carrito_form{
            margin: 2vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            #formularioCliente{
                display: flex;
                flex-direction: column;
                input{
                    font-size: larger;
                }
            }
            .comprarCarrito{
                margin: 2vw;
                display: flex;
                font-size: xx-large;
                font-weight: bolder;
                
            }
        }
    }
}