.card {
  display: flex;
  flex-direction: column;
  margin: 1vw;
  height: 25vw;
  font-size: 1vw;
  font-weight: bolder;
  border: solid;
  padding: 1vw;
  border-color: red;
  background-color: white;
  transition: all 1s;
}
.card .card_img {
  display: flex;
  max-width: 18vw;
  max-height: 18vw;
  border: solid;
  border-color: red;
}
.card .card_footer {
  height: 3vw;
}
.card .card_footer .IQS {
  display: flex;
  justify-content: space-between;
}
.card .card_footer .IQS button {
  display: flex;
  font-size: 1vw;
}
.card .card_footer .IQS input {
  width: 100%;
  font-size: 1vw;
}
.card:hover {
  transform: scale(1.1);
}

.detalle {
  display: flex;
  flex-direction: column;
  padding: 2vw;
  font-size: xx-large;
}
.detalle img {
  height: 40vw;
  width: 40vw;
  align-self: center;
}
.detalle .IQS {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.detalle .IQS button {
  font-size: xx-large;
  font-weight: bolder;
  width: 20vw;
}
.detalle .IQS input {
  font-size: xx-large;
  font-weight: bolder;
  width: 20vw;
}

.ItemList {
  padding: 2vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ItemList a {
  text-decoration: none;
  color: black;
}

nav {
  display: flex;
  height: 8vw;
  background-color: lightgoldenrodyellow;
  border: 3px;
  border-color: black;
  border-style: solid;
  align-items: center;
  justify-content: center;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding: 10px;
  width: 80vw;
}

nav ul li a {
  font-size: 2vw;
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

nav ul li {
  padding: 0.25vw;
  transition: all 1s;
}

nav ul li:hover {
  border: solid;
  border-width: 0.25vw;
  border-color: red;
  transform: scale(1.2);
}

#carrito_logo {
  height: 3vw;
}

#carrito {
  text-align: center;
  font-weight: bold;
  font-size: 1vw;
}
#carrito .notif_items span {
  background-color: red;
}
#carrito .notif_total span {
  background-color: lightblue;
}

#carrito {
  text-decoration: none;
  color: black;
  transition: all 1s;
}

#carrito:hover {
  transform: scale(1.1);
}

#logo {
  width: 6vw;
  transition: all 1s;
}

#logo:hover {
  transform: scale(1.1);
}

.carrito {
  display: flex;
  flex-direction: column;
}
.carrito .carrito_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: xx-large;
}
.carrito .carrito_item > * {
  margin-inline: 3vw;
  margin-bottom: 2vw;
}
.carrito .carrito_item img {
  width: 10vw;
}
.carrito .carrito_item .carrito_cod {
  width: 12vw;
}
.carrito .carrito_item .carrito_titulo {
  width: 56vw;
}
.carrito .carrito_item .carrito_precio {
  width: 12vw;
}
.carrito .carrito_item .carrito_cant {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20vw;
}
.carrito .carrito_item .carrito_cant button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-inline: 10px;
  font-size: xx-large;
  height: 30px;
  width: 30px;
  justify-content: center;
}
.carrito .resumenCarrito {
  display: flex;
  flex-direction: row;
  font-size: xx-large;
  font-weight: bolder;
  justify-content: space-around;
}
.carrito .resumenCarrito .borrarCarrito {
  display: flex;
  font-size: xx-large;
  font-weight: bolder;
}
.carrito .resumenCarrito .totalCarrito {
  display: flex;
}/*# sourceMappingURL=styles.css.map */